*{
	margin:0;
	padding:0;
	text-decoration: none;
}
.navigation-bar{
	width: 100%;
	height: 60px;
	display: flex;
	background-color: black;
}
.navigation-bar .brand{
	width: 40%;
	height: inherit;
	text-align: center;
	margin-top: 10px;
	color: white;
}
.navigation-bar .navigation{
	width: 60%;
	list-style-type: none;
}
.navigation-bar .navigation ul{
	list-style-type: none;
	display: flex;
	text-align: center;
	margin-top: 15px;
}
.navigation-bar .navigation ul li{
	margin-right: 10%;
	font-size: 20px;
}
.navigation-bar .navigation ul li:hover{
	margin-right: 10%;
	font-size: 20px;
	text-decoration: underline;
}
.navigation-bar .navigation ul li a{
	color: white;
}

.about-me{
	width: 100%;
	height: 578px;
	display: flex;
	background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2012/09/30/17485/big_thumb_b21255ebd4cf764269b8778a316c190a.jpg");
	background-size: 1000px 700px;
}
.about-me .text{
	width: 60%;
	height: inherit;
		
}
.about-me .text .text1{
	width: 510px;
	height: 300px;
	border-style: solid;
	border-spacing: 2px;
	position: relative;
	top: 100px;
	left: 200px;
}
.about-me .text .text1 h1{
	position: relative;
	text-align: center;
	font-size: 50px;
}

.about-me .text .text1 p{
	position: relative;
	text-align:center;
	font-size: 20px;
}
.about-me .picture{
	width: 40%;
	height: inherit;
}
.about-me .picture img{
	position: relative;
	top: 50px;
	left: 70px;
	height: 450px;
	width: 350px;
	border-radius: 30px;
}
.about-me .picture img:hover{
	position: relative;
	top: 50px;
	left: 70px;
	height: 450px;
	width: 350px;
	box-shadow: 10px 10px 20px black;
	border-radius: 30px;
}